<%- include('../templates/header', {page: "rsvp"}); %> 
<%- include('../templates/nav', {page: "rsvp"}); %>
<img src class="hidden" onerror="onLoad(<%= JSON.stringify(user) %>)" />

<div class="row header-container">
  <img src="/img/rsvp.jpg" class="header-img">
</div>

<div class="container">
  <div class="row">
    <form method="POST" action="/guest/rsvp">

      <div class="col rsvp-body">
        <label for="attending" class="rsvp-attending">We have reserved <%= user.invites %> seats at the reception for you</label>
        <p class="rsvp-attending-sub">Please note, while children are welcome at the ceremony, the following cocktail hour and reception will be a 19+ event.</p>
        <p class="rsvp-attending-sub">For questions about childcare, please see the <a href="./questions#childcare">questions page</a>.</p>
      </div>

      <div class="rsvp-top-container">
        <div class="row rsvp-attending-container">
          <div class="select">
            <select name="rsvps" id="rsvp-attending" onchange="updateSubmitAttendingState()">
                <option disabled selected value>-</option>
                <% for (let i = user.invites; i >= 1; i--) { %>
                <option value="<%= i %>"><%= i %></option>
                <% } %>
              </select>
          </div>

          <span id="rsvp-attending-text">happily accept.</span>
        </div>

        <div id="rsvp-attending-container" class="row rsvp-attending-container rsvp-attending-container-decline">
          <label class="checkbox-container">
            <input
              type="checkbox"
              id="rsvp-decline-checkbox"
              name="decline"
              value="decline"
            />
            <span class="checkmark"></span>
            <span class="decline-text">Regretfully, we will be unable to attend</span>
          </label>
        </div>
      </div>

      <div class="rsvp-extra-container">
        <div id="rsvp-dietary-container" class="col">
          <label for="dietary">Any dietary restrictions?</label><br/>
          <input
            type="text"
            id="rsvp-attending-dietary-field"
            class="rsvp-field"
            oninput="updateSubmitState()"
            name="song"
          />
        </div>
  
        <div id="rsvp-song-container" class="col rsvp-extra-inner">
          <label for="song">What song will get you on the dance floor?</label></br>
          <input
            type="text"
            id="rsvp-attending-song-field"
            class="rsvp-field"
            oninput="updateSubmitState()"
            name="song"
          />
        </div>
      </div>

      <div class="row">
        <div
          id="rsvp-attending-submit"
          class="rsvp-attending-submit-disabled"
          onclick="submit()"
        >
        <span class="unselectable">RSVP</span>
      </div>

      <div class="row">
        <p id="rsvp-date">Please RSVP by June 1, 2024.</p>
      </div>

      <div class="row">
        <p id="rsvp-edit-reminder">
          Don't worry - you can come back and edit this page any time.
        </p>
      </div>

      <div class="row">
        <span id="rsvp-submit-error"></span>
      </div>
          
    </div>
  </form>
</div>
<script type="text/javascript" src="./js/rsvp.js"></script>
<%- include('../templates/footer'); %>
